// color
$main-color : #dfbe70;
$primary-color: #185285;
$mian-hove-color: #f1a900;
$off-white: #fff;
$off-grey: #444;
$divider-color: #d5d5d5;

// spacing
$page-spacing : 10rem;
$page-spacing-sm : 2rem;
